@font-face {
    font-family: main;
    src: url("/Fonts/corbel.ttf");
}

body {
    font-family: corbel, tahoma;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

h1 {
    font-size: 100px;
    text-align: center;
    width: 100%;
    padding-top: 14%;
    margin-bottom: 2%;
    color: black;
}

h2 {
    font-size: 30px;
    text-align: center;
    width: 100%;
    color: black;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.article-bar > h2 {
    color: white;
}

p {
    font-family: corbel, tahoma;
    font-size: 20px;
    color: black;
    width: 60%;
    margin-left: 20%;
}

a {
    color: black;
}

div {
    border: 1px solid rgba(0,0,0,0);
}

.bottom-fixed {
    position: absolute;
    bottom: 0px;
}

.spacer {
    height: 100%;
    width: 100%;
    border: 0;
    background-image: url("/Assets/final_background8.png");
    background-size: cover;
    background-position: center center;
}

.article-bar {
    width: 100%;
    background: rgba(0,0,0,.8);
    height: 50px;
}

.block-text {
    width: 100%;
    background-color: white;
    position: relative;
}

.block-text:last-child {
    padding-bottom: 20px;
}

#resume {
    width: 60%;
    margin-left: 20%;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    color: rgba(0,0,0,.7);
    position: absolute;
    bottom: 60px;
    transition: all .3s;
}

#resume:hover {
    bottom: 65px;
    color: rgba(0,0,0,1);

}

@media only screen  and (max-width : 800px) {
    h1 {
        font-size: 50px;
    }
}

@media only screen  and (max-width : 500px) {
    h1 {
        font-size: 30px;
    }
}